
<div class="all">
    <div class="header">
        <ul class = "navList">
            <li><img src="../assets/ice-cubes.png" style="margin-right: 5%;"><a href = "/home">TheIceStore</a></li>
            <li><a href = "/home">FAQ</a></li>
        </ul>
    </div>
    <div class="center">
       <div class="left">
            <div class="panelA">
                <span>Find rare luxury clothing items</span>
            </div>
            <div class="panelB">
                <span>Find rare items from trusted vendors selected from our application process. Get fair prices for all luxury items. Yeezys, Northface, Gucci much more</span>
            </div>
            <div class="panelC">
                <input type="email" name="" id="">
                <button>Subscribe</button>
            </div>
       </div>
       <div class="right">
            <div class="picSlider">
                
            </div>
       </div>
    </div>
    <footer>
        <span>© TheIceStore 2021</span>
    </footer>
</div>