<html>
  <header></header>
  <body>
    <section class="landing">
      <div class="header">
        <div class="logo">
          <h1>Acutis Dev</h1>
        </div>
        <div class="hamburger">
          <span>MENU</span>
        </div>
      </div>
      <div class="welcome">
        <div class="landingLeft">
          <div class="landingText">
            <div class="landingTitle">
              <h1>Small Business Web Design + Development</h1>
            </div>
            <div class="landingSubtitle">
              <h5>
                No page builders or WordPress - We offer 100% hand-coded
                websites with superior results starting at $150/mo
              </h5>
            </div>
          </div>
          <div class="landingButton">
            <button class="button-6" role="button">GET IN TOUCH!</button>
          </div>
        </div>
        <div class="landingRight">
          <div class="landingImage">
            <img src="/assets/smart.png" />
          </div>
        </div>
      </div>
      <div class="curve">
        <img src="/assets/curve2.png" />
      </div>
    </section>
    <section class="description">
      <div class="descTitle">
        <div class="descTitleText">
          <h1 style="color:blue;margin-right:5px">WHAT</h1>
          <h1>WE DO</h1>
        </div>
        <div class="dash"></div>
      </div>
      <div class="descPara">
        <p>
          We specialize in small business web design and development for clients
          anywhere in Ireland. Every line of code is written by hand to ensure
          the best performance, which helps bring in more customers to your site
          and bring more revenue to your business. <a>Learn more</a>
        </p>
      </div>
      <div class="what-we-do-container">
        <div class="itemsList">
          <div class="item">
            <img src = "/assets/smartphone.png">
            <h3>Mobile First Design</h3>
            <p>
              We start by building and optimizing the site for mobiles first, we
              then add more code to make the website to make it desktop friendly
            </p>
          </div>
          <div class="item">
            <img src = "/assets/pie-chart.png">
            <h3>Search Engine Optimized</h3>
            <p>
              57% of all internet traffic is on mobile devices, so we optimize
              your mobile to perform their best in search engines.
            </p>
          </div>
          <div class="item">
            <img src = "/assets/desktop.png">
            <h3>Fully Responsive</h3>
            <p>
              Your website will fit all mobile screens sizes, tablets, and desktop
              sizes so new clients can access your site from anywhere.
            </p>
          </div>
        </div>
        
      </div>
    </section>
    <section id = "pricing" class="pricing">
      <div class="pricingImage">
        <img src = "/assets/Product-Launch.png">
      </div>
      <div class="container">
        <div class="right">
          <div class="pricingText">
            <h1>
              <span>Free</span> sign-up, <span>Expert</span> developer support<br />HD Streaming
            </h1>
            <p>
              Get your account setup and integerated with stripe in minutes. We use <span style="color: blue;">Stripe</span> to 
              process payments.
              <br />
              <br />
              We offer expertise developer support to ensure your event runs as smoothly as possible. Our platform is built
              to provide viewers and promoters a platform to easily and quickly access PPV's.
            </p>
          </div>
          <div class="list-group">
            <div class="leftList">
              <div class="list-item">
                <!--SVG-->
                  <div class="list-item-content">
                      <h3>Developer Event Support</h3>
                      <p>Live event support from expert software engineers to ensure your stream stays up.</p>
                  </div>
                </div>
                <div class="list-item">
                <!--SVG-->
                  <div class="list-item-content">
                      <h3>Stripe Integration</h3>
                      <p>We use Stripe for payment processing.</p>
                  </div>
                </div>
                <div class="list-item">
                <!--SVG-->
                  <div class="list-item-content">
                      <h3>Large and small events supported</h3>
                      <p>Host PPV streams for your smaller events to open more avenues for monetization.</p>
                  </div>
                </div>
            </div>
            <div class="rightList">
              <div class="list-item">
                <!--SVG-->
                  <div class="list-item-content">
                      <h3>Premium domain link</h3>
                      <p>Link to your livestream using our carefully branded link - K1.Live</p>
                  </div>
                </div>
                <div class="list-item">
                <!--SVG-->
                  <div class="list-item-content">
                      <h3>Full support</h3>
                      <p>We will help you through the process of starting your own livestream.</p>
                  </div>
                </div>
                <div class="list-item">
                <!--SVG-->
                  <div class="list-item-content">
                      <h3>Private and secure</h3>
                      <p>Safe and secure PPV streaming to ensure protection against piracy.</p>
                  </div>
                </div>
            </div>
            
          </div>
        </div>
          ..
      </div>
    </section>
    <section id="who-we-are" class = "who-we-are">
      <div class="descTitle">
        <div class="descTitleText">
          <h1 style="color:blue;margin-right:5px">WHO</h1>
          <h1>WE ARE</h1>
        </div>
        <div class="dash"></div>
      </div>
      <div class="descPara">
        <p>
          My name is Donal, I am a 24 year old web developer with a BSc in Computer Systems. 
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cumque consectetur reiciendis praesentium facere quisquam, eos veniam, ad pariatur dicta consequuntur asperiores quaerat quo nobis vero aliquid aspernatur hic maxime, minus eius rerum libero! Eos!.
        </p>
      </div>
      <div class="about-me">
        <div class="docImage">
          <img src="/assets/smart.png"/>
        </div>
      </div>
    </section>
    <section class="prices" id = "prices">
      <div class="containerPrice">
        <div class="price-box">
          <h2>Standard</h2>
          <span>5 PAGES</span>
          <h3>150</h3>
          <ul>
              <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt=""> Unlimited Edits</li>
              <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt="">Includes Hosting</li>
              <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt=""> 24/7 Customer Service</li>
              <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt=""> Lifetime Updates</li>
          </ul>
          <button class="button-6" onclick="location.href='/html/contact.html'" type="button">
              CONTACT US
          </button>
      </div>
        <div class="price-box">
          <h2>Standard + Blogging</h2>
          <span>STARTING AT</span>
          <h3>300</h3>
          <ul>
              <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt=""> 1000+ Word Post</li>
              <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt=""> Written By an SEO Specialist</li>
              <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt=""> 1 Post Per Month</li>
              <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt=""> $150 Per Extra Post</li>
          </ul>
          <button class="button-6" onclick="location.href='/html/contact.html'" type="button">
              CONTACT US
          </button>
      </div>
      </div>
    </section>
  </body>
  <footer></footer>
</html>
